// section 8
.footer {
    background-color: $orange;
    color: $white;

    .fa {
        color: $white;

        &:hover {
            color: #CCCCCC;
        }
    }

    & a:hover {
        text-decoration: none;
    }
}

.list-group-item-orange a {
    color: #575757;
}