// section 3

.what {
    background-size: cover;
    background: url('../img/image-de-presentation.jpg') scroll;
    font-family: "Helvetica", serif;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('../img/texture-paper.png') 280px 280px;
    }

    &__article {
        background-color: rgba(165, 147, 99, .7);
    }

    .text-orange {
        text-shadow: 0 1px 0 $orange;
        z-index: 10;
    }

    .text-white {
        text-shadow: 0 1px 0 $white;
        z-index: 10;
    }

    a {
        cursor: pointer;
    }
}