// section 8
.footer {
    background-color: $orange;
    color: #691F1F;

    .fa {
        color: #691F1F;

        &:hover {
            color: #CCCCCC;
        }
    }

    & a:hover {
        text-decoration: none;
    }
}

.list-group-item-orange a {
    color: #3E2A2A;
}